extends layout

block content
    h1 Events
    iframe(id="calendar-frame" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=ppv0m1mm5m3142tobio8oh630c%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York")

block specific-links
    link(rel='stylesheet', href='calendar-style.css')