extends layout

block content

block specific-links
  link(rel='stylesheet', href='index-style.css')
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(type="text/javascript", src="/javascripts/home.js")