extends layout

block content
  div.recycleNote
  div.home.bar
    div.navLink
      a(href="/") Home
    div.navLink
      a(href="/movies") Movies
  div.noticeTiles
    table
      tr(title="Battery")
        td.noticeTile
        td.noticeMessage
      tr(title="Recycling")
        td.noticeTile
        td.noticeMessage
      tr(title="Rob")
        td.noticeTile
        td.noticeMessage Rob is still dead, guys.

block append head
  script(type='text/javascript', src='js/moment.min.js')
  script(type='text/javascript', src='js/recycle.js')
  script(type='text/javascript', src='js/battery.js')
  script(type='text/javascript', src='js/rob.js')
  script(type='text/javascript', src='js/index.js')

  link(rel='stylesheet', href='index-style.css')