extends layout

block content
  div.recycleNote
  div.home.bar

block append head
  script(type='text/javascript', src='js/moment.min.js')
  script(type='text/javascript', src='js/recycle.js')
  link(rel='stylesheet', href='index-style.css')
            

    