doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="nav-bar")
      div(class="nav-link") main
      div(class="nav-link") chat
      div(class="nav-link") mo
    div(class="body-container")
      block content
