doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header-bar")
      div(class="header-link") main
      div(class="header-link") chat
      div(class="header-link") mo
    div(class="side-bar") test
    div(class="body-container")
      block content
