doctype html
html
  head
    title= title
    link(rel='stylesheet', href='general-style.css')
  body
    ul(class="header-bar")
        li(class="header-link" title="Home") Main
        li(class="header-link" title="The latest stuff") News
        li(class="header-link" title="mo..") mo
    div(class="body-container")
      block content
