extends layout

mixin movie(mov)
    li.movieItem
        div.movHeader= `${mov.title} (${mov.releaseDate})`
        div.moveDesc= mov.description

block content
    div.gridContainer
        div.contentContainer
            div.movieContent
                h1 Movies
                h2 Available movies:
                ul.moviesList

block append body
    include navbar.pug

block append head
    script(type="text/javascript", src="js/movies.js")
    link(rel='stylesheet', href='nav-style.css')
    link(rel='stylesheet', href='movies-style.css')
            

    