block navbar
    div.navbar
        div.navLink
            a(href="/") Home
        div.navLink
            a(href="/movies") Movies
        div.navLink
            a(href="/timeline") Timeline (App)