extends layout

mixin message(msg)
    div(class="message")
        div(class="message-sender")= msg.sender + " says..."
        div(class="message-text")= msg.body
        div(class="message-time")= msg.timeStamp

block content
    div(class="messages-container")
        if(!db_connected)
            div(id="db-connection-err") Database is not connected
        for msg in prev_messages
            +message(msg)
    form(class="message-form", action="/news", method="POST")
        input(id="chat-input", type="textarea", name="message", placeholder="Enter your update here")
        input(id="chat-submit", type="submit", name="Submit")


block specific-links
    link(rel='stylesheet', href='news-style.css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="/javascripts/news.js")
