extends layout

block content
    form(class="message-form" action="/news" method="POST")
        input(id="chat-input" type="textarea" placeholder="Enter your update here")
        input(id="chat-submit" type="submit" name="Submit")