extends layout

mixin makeBlocks(num)
    while num-- > 0
        div.block

block content
    div.blockBox
        +makeBlocks(40)
    div.asyncBoxes
        label(for="in") In:
            input(type="textarea", name="in").in
        label(for="out") Out:
            input(type="textarea", name="out").out
            input(type="button", name="reset", value="Reset").reset

block append head
    script(type="text/javascript", src="js/scratch.js")
    link(rel='stylesheet', href='scratch-style.css')