extends layout

mixin guideBox(count)
    - for(var i = 0 ; i < count ; i++)
        div.guideBox(class=`box-${i}`)


block content
    div.workingArea
        +guideBox(30)
    input(type="button" value="Reset" class="reset" onclick="resetFill()")
        

block append head
    script(type="text/javascript", src="js/timeline.js")
    link(rel='stylesheet', href='timeline-style.css')