extends layout

mixin guideBox(count)
    - for(var i = 0 ; i < count ; i++)
        div.guideBox


block content
    div.workingArea
        +guideBox(24)

        

block append head
    script(type="text/javascript", src="js/timeline.js")
    link(rel='stylesheet', href='timeline-style.css')