body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-size: 60pt;
  }

a {
  color: #00B7FF; 
  }

.nav-bar {
  background-color: #2D882D;
  height: 200px;
  width: 100%;
}