//colors
$base-color: #450A45;
$highlight-color: #773377;
$dark-color: #212121;
$contrast-font-col: white;

//sizes
$std-padding: 20pt;

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-size: 1rem;
  margin: 0px;
  cursor: default;
  background-color: $dark-color;
  }

a {
  color: inherit;
  text-decoration: none;
}

.header-bar {
  background-color: $base-color;
  height: 20%;
  width: 100%;
  padding-left: 0;
  margin-bottom:5rem;
  padding-top: 1.7rem;
  padding-bottom:2rem;
  position: sticky;
  top:0;
}

.header-link {
  margin: 5%;
  color: $contrast-font-col;
  border-radius: 10pt;
  display: inline;
  font-size: 1.4rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  padding-left: 2rem;
  padding-right: 2rem;

}

.header-link:hover{
  background-color: $highlight-color;
  transition: 0.2s;
}

.header-link:not(hover){
  background-color: inherit;
  transition: 0.2s;
}

.body-container{
  width:50%;
  max-width:80rem;
  height: 80rem;
  margin: 0 auto;
  padding:5rem;
  background-color:white;
}
