//Configuration variables
$base-color: white;
$navbar-color: blue;


// Base styling
html {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-size: 1rem;
  cursor: default;
  }

body {
  margin: 0rem; //removes annoying space between header and window body
}

// Navbar settings
.navbar {
  display: grid;
  grid-template-columns: 3rem 0.5fr 0.5fr 3rem; // Set columns for each link in navbar
  grid-column-gap: 3rem;

  background-color: $navbar-color;
  color:white;
  height: 20%;
  width: 100%;
  padding: 1.3rem 0rem;
  margin-top: 0rem;

  position: sticky; //Makes navbar stick to top of window (moves along with scrolling)
  top:0;
}

.navLink {
  background-color:blue;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
}

.navLink:hover{
  filter: brightness(0.8);
  transition: 0.2s;
}

.navLink:not(hover){
  filter:brightness(1);
  transition: 0.2s;
}

// Setup where each link will show up
.helloLink {
  grid-column-start: 2;
}

.worldLink {
  grid-column-start: 3;
}

