// Base styling (Defaults and resets)

html {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-size: 1rem;
  cursor: default;
  height: 100vh;
  }


body {
  //page transition
  animation-name: simple;
  animation-duration: 0.3s;
}

a {
  text-decoration: none;
  color:inherit;
}


// Page Transitions

@keyframes simple {
  0% {
    transform: translate(0,100%);
  }  

  100% {
    transform: translate(0,0);
  }
}
