@import "global-style.scss";

$navbar-color: #3B0BC0;
$base-color: white;
$font-color: black;
$recycle-color: green;

body {
    background-color: $base-color;
    overflow: hidden;
}


div.navbar {
    top: 35%;
    position:absolute;
    background-color: $navbar-color;
}

.navLink {
    background-color: $navbar-color;
}

.recycleDays {
    font-size: 20pt;
    color: $recycle-color;
}