@import "global-style.scss";

$navbar-color: #3B0BC0;
$base-color: white;
$font-color: black;
$recycle-color: green;

body {
    background-color: $base-color;
}

.navbar {
    background-color: $navbar-color;
    color: $base-color;
}

.recycleNote {
    text-align: center;
    font-size: 2rem;
    color: $recycle-color;
    margin-bottom: 5%;
    margin-top: 5%;
}

.noticeTile {
  width: 2rem;
  height: 2rem;
}

[title="Rob"] > .noticeTile {
  background-color: #40bded;
}

[title="Recycling"] > .noticeTile {
  background-color: green;
}

[title="Battery"] > .noticeTile {
  background-color: black;
}

[title="Buzz"] > .noticeTile {
  background-color: #5E5B5B;
}

.noticeMessage {
  display: none;
}

.incompatible {
  display: none;
}