@import "global-style.scss";

$navbar-color: #DF0000;
$base-color: #171515;
$font-color: black;

body {
    background-color: $base-color;
    color: $font-color;
}

.body-content {
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
}

.navbar {
    background-color: $navbar-color;
}

.navLink {
    background-color: $navbar-color;
}

// Movie entry grid styling
.movieItem {
    list-style-type: none;
    margin-bottom: 1rem;
}

.movDesc {
    margin-bottom: 10rem;
}
