
// Navbar settings
.navbar {
  display: grid;
  grid-template-columns: 3rem 0.5fr 0.5fr 3rem; // Set columns for each link in navbar
  grid-column-gap: 3rem;

  color:white;
  height: 4rem;
  width: 100%;
  padding: 1.3rem 0rem;
  margin-top: 0rem;

  position: sticky; //Makes navbar stick to top of window (moves along with scrolling)
  top:0;
}

.navLink {
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  margin: 1rem 2rem;
  font-size: 1.4rem;
}

.navLink:hover{
  filter: brightness(0.8);
  transition: 0.2s;
}

.navLink:not(hover){
  filter:brightness(1);
  transition: 0.2s;
}