// Navbar settings
.navbar {
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
}


.navLink {
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  margin: 0.5rem 0.5rem;
  font-size: 1.4rem;
  display: inline-block;
  width: 20%;
}

.navLink:hover{
  filter: brightness(0.8);
  transition: 0.2s;
}

.navLink:not(hover){
  filter:brightness(1);
  transition: 0.2s;
}


.navLink > a {
  width: 100%;
  height: 100%;
}