//colors
$base-col: #450A45;
$highlight-col: #773377;
$dark-col: #212121;
$contrast-font-col: white;
$error-col: #D46a6a;

.messages-container{
  border-color: $dark-col;
  border-width: 1px;
  border-style: solid;
  margin-bottom:1rem;
  width:100%;
  height: 20rem;
  overflow-y: auto;
}

.message{
  border-radius: 0.3rem;
  background-color: $highlight-col;
  color:$contrast-font-col;
  margin: 1.5rem;
  padding:0.5rem;
}

.message-sender{
    display: inline;
}

.message-text{
  display: inline;
}

.message-time{
  float:right;
}

#chat-input{
  width:70%;
  height: 2rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;

}

#chat-submit{
  background-color: $base-col;
  color:$contrast-font-col;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-radius: 0.5rem;
  border-style: none;
  margin: 0 auto;
}

#db-connection-err{
  background-color: $error-col;
  color: $contrast-font-col;
  padding: 1rem;
  text-align: center;
}