$navbar-color: #32795C;
$base-color: white;
$font-color: black;

body {
    background-color: $base-color;
}

.navbar {
    background-color: $navbar-color;
}

.workingarea {
    width: 100%;
    height: 80%;
    border: 0.1rem solid red;
    padding: 1rem;
}