$navbar-color: #32795C;
$base-color: white;
$font-color: black;

body {
    background-color: $base-color;
}

.navbar {
    background-color: $navbar-color;
}

.workingArea {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.guideBox {
    border: 1pt dashed black;
    width: 8rem;
    height: 8rem;
}

.guideBox.filled {
    background-color: blue;
}

